<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <title>GeoAndina v1.1</title>

</head>

<body>


<div class = "container vh-100">

    <div class = "row justify-content-center align-items-center h-100">

        <div class = "col-lg-7">

            <div class = "card">

                <div class="card-body">

                    <div class = "text-center">

                        <h1 class = "my-3">GeoAndina</h1>
                        <p class = "my-3">Software de cálculos geodésicos</p>
                        <p class = "my-3"><strong>EGM2008 - Perú</strong></p>
                       

                    </div>
                    
                    <form method="POST">

                        <div class = "row">

                            <div class = "col-md-4 mx-auto mt-2">

                                <label for="quantity">Puntos a generar:</label>
                    
                                <input type="number" id="quantity" name="quantity" step="1" class = "form-control" min="1" required>

                            </div>

                           
                        </div>

                        <div class = "text-center">

                            <button type="submit" name = "action" value = "generate" class = "btn btn-primary mt-3 px-4">
                                Generar
                            </button>


                        </div>


                    </form>

                </div>
            
            </div>
            
        </div>

    </div>

    {% if quantity %}

    <div class = "text-center">

        <h2 class = "my-2">Ingresos de datos</h2>
        <p class = "my-2">Complete la informacion correspondiete por cada punto.</p>

    </div>
    
        <form method="POST">

            <input type="hidden" name="quantity" value="{{ quantity }}">

            {% for i in range(quantity) %}

                <div class = "card my-3">
                
                    <div class = "card-body coordinate-card">

                        <p><strong>Punto {{ i + 1 }}</strong></p>

                        <label for="CoordinateType_{{ i }}">Tipo de coordenada</label>

                        <select class = "form-select coordinate-type" name="CoordinateType_{{ i }}" id="CoordinateType_{{ i }}">

                            <option value="Geodetic">Geodética</option>
                            <option value="UTM">UTM</option>


                        </select>

                        <label for="CoordinateFormat_{{ i }}">Formato de coordenada</label>

                        <select class = "form-select geodetic-format" name="CoordinateFormat_{{ i }}" id="CoordinateFormat_{{ i }}">

                            <option value="DD">Grados Sexagesimales</option>
                            <option value="DM">Grados y Minutos</option>
                            <option value="DMS">Grados, minutos y segundos</option>

                        </select>

                        <label for="UTMZone_{{ i }}">Zona UTM:</label>

                        <select class = "form-select" name = "UTMZone_{{ i }}" id="UTMZone_{{ i }}">

                            <option value="17">17S</option>
                            <option value="18">18S</option>
                            <option value="19">19S</option>


                        </select>

                        <label for="CalculationType_{{ i }}">Tipo de cálculo</label>

                        <select class = "form-select calculation-type" name = "CalculationType_{{ i }}" id="CalculationType_{{ i }}">

                            <option value="OrthometricHeight">Altura ortométrica</option>
                            <option value="EllipsoidalHeight">Altura Elipsoidal</option>

                        </select>

                        <div id = "ddFields_{{ i }}" class = "dd-fields">

                            <p class = "mt-3"><strong>Coordenadas DD</strong></p>

                            <label for="Latitude_{{ i }}">Latitud (DD)</label>

                            <input type = "number" class = "form-control" id = "Latitude_{{ i }}" name = "Latitude_{{ i }}" step = "any">

                            <label for="Longitude_{{ i }}">Longitud (DD)</label>

                            <input type = "number" class = "form-control" id = "Longitude_{{ i }}" name = "Longitude_{{ i }}" step = "any">


                        </div>

                        <div id = "dmFields_{{ i }}" class = "dm-fields">

                            <p class = "mt-3"><strong>Coordenadas DM</strong></p>

                            <label for="LatitudeDegree_{{ i }}">Latitud - Grados</label>

                            <input type = "number" class = "form-control" id = "LatitudeDegree_{{ i }}" name = "LatitudeDegree_{{ i }}">

                            <label for="LatitudeMinutes_{{ i }}">Latitud - Minutos</label>

                            <input type = "number" class = "form-control" id = "LatitudeMinutes_{{ i }}" name = "LatitudeMinutes_{{ i }}" step = "any">

                            <label for="LongitudeDegree_{{ i }}">Longitud - Grados</label>

                            <input type = "number" class = "form-control" id = "LongitudeDegree_{{ i }}" name = "LongitudeDegree_{{ i }}">

                            <label for="LongitudeMinutes_{{ i }}">Longitud - Minutos</label>

                            <input type = "number" class = "form-control" id = "LongitudeMinutes_{{ i }}" name = "LongitudeMinutes_{{ i }}" step = "any">


                        </div>

                        <div id = "dmsFields_{{ i }}" class = "dms-fields">

                            <p class = "mt-3"><strong>Coordenadas DMS</strong></p>

                            <label for = "LatitudeDegreeDMS_{{ i }}">Latitud - Grados</label>

                            <input type = "number" class = "form-control" id = "LatitudeDegreeDMS_{{ i }}" name = "LatitudeDegreeDMS_{{ i }}">

                            <label for="LatitudeMinutesDMS_{{ i }}">Latitud - Minutos</label>

                            <input type = "number" class = "form-control" id = "LatitudeMinutesDMS_{{ i }}" name = "LatitudeMinutesDMS_{{ i }}">

                            <label for="LatitudeSecondsDMS_{{ i }}">Latitud - Segundos</label>

                            <input type = "number" class = "form-control" id = "LatitudeSecondsDMS_{{ i }}" name = "LatitudeSecondsDMS_{{ i }}" step = "any">

                            <label for="LongitudeDegreeDMS_{{ i }}">Longitud - Grados</label>

                            <input type = "number" class = "form-control" id = "LongitudeDegreeDMS_{{ i }}" name = "LongitudeDegreeDMS_{{ i }}">

                            <label for="LongitudeMinutesDMS_{{ i }}">Longitud - Minutos</label>

                            <input type = "number" class = "form-control" id = "LongitudeMinutesDMS_{{ i }}" name = "LongitudeMinutesDMS_{{ i }}">

                            <label for="LongitudeSecondsDMS_{{ i }}">Longitud - Segundos</label>

                            <input type = "number" class = "form-control" id = "LongitudeSecondsDMS_{{ i }}" name = "LongitudeSecondsDMS_{{ i }}" step = "any">


                        </div>

                        <div id = "utmFields_{{ i }}" class = "utm-fields">

                            <label for="East_{{ i }}">Este (m)</label>

                            <input type = "number" class = "form-control" id = "East_{{ i }}" name = "East_{{ i }}" step = "any">

                            <label for = "North_{{ i }}">Norte (m)</label>

                            <input type = "number" class = "form-control" id = "North_{{ i }}" name = "North_{{ i }}" step = "any">


                        </div>

                        <div class = "ellipsoidal-fields">

                            <label for = "EllipsoidalHeight_{{ i }}">Altura elipsoidal</label>

                            <input type = "number" class="form-control" id = "EllipsoidalHeight_{{ i }}" name = "EllipsoidalHeight_{{ i }}" step = "any">


                        </div>

                        <div class = "orthometric-fields">

                            <label for = "OrthometricHeight_{{ i }}">Altura ortométrica</label>

                            <input type = "number" class = "form-control" id = "OrthometricHeight_{{ i }}" name = "OrthometricHeight_{{ i }}"step = "any">
                            

                        </div>
     

                </div>

            </div>  

        {% endfor %}

            <div class = "text-center">

                <button class = "btn btn-primary mt-3 px-4" type = "submit" name = "action" value = "calculate">

                    Calcular

                </button>

            </div>


        </form>

            {% if results %}

                {% for result in results %}

                    <div class = "card my-3">

                        <div class = "card-body">

                            {% if result["CalculationType"] == "OrthometricHeight" %}

                            <p><strong>Altura ortométrica del punto {{ loop.index }}</strong></p>

                            <p>{{ result["orthometric_height"] }}</p>

                            {% elif result["CalculationType"] == "EllipsoidalHeight" %}

                            <p><strong>Altura elipsoidal del punto {{ loop.index }}</strong></p>

                            <p>{{ result["ellipsoidal_height"] }}</p>

                            {% else %}

                            <p><strong>Tipo de calculo desconocido :C</strong></p>

                            {% endif %}


                        </div>

                    </div>

                {% endfor %}

            {% endif %}




    {% endif %}
   



<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
<script src = "{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>