<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <title>GeoAndina v1.1</title>

</head>

<body>


<div class = "container vh-100">

    <div class = "row justify-content-center align-items-center h-100">

        <div class = "col-lg-7">

            <div class = "card">

                <div class="card-body">

                    <div class = "text-center">

                        <h1 class = "my-3">GeoAndina</h1>
                        <p class = "my-3">Software de cálculos geodésicos</p>
                        <p class = "my-3"><strong>EGM2008 - Perú</strong></p>

                        


                    </div>

                    <form method="POST">

                        <div class = "row">

                            <div class = "nav-buttons">

                                <button class = "secondary-btn" value = "return_utmzone" name = "action" type = "submit">

                                    Cambiar Zona

                                </button>

                                <button class = "secondary-btn" value = "main_menu" name = "action" type = "submit">

                                    Menu Principal 
                                
                                </button>


                            </div>

                            <div class = "col-md-4 mx-auto mt-2">

                                <label for="quantity">Puntos a generar:</label>

                                <input type="number" id="quantity" name="quantity" step="1" class = "form-control" min="1" required>

                            </div>


                        </div>

                        <div class = "text-center">

                            <button type="submit" name = "action" value = "generate" class = "btn btn-primary mt-3 px-4">
                                Generar
                            </button>


                        </div>


                    </form>

                </div>

            </div>

        </div>

    </div>

    {% if quantity %}

    <div class = "text-center">

        <h2 class = "my-2">Ingresos de datos</h2>
        <p class = "my-2">Complete la informacion correspondiete por cada punto.</p>

    </div>

        <form method="POST">

            <input type="hidden" name="quantity" value="{{ quantity }}">

            {% for i in range(quantity) %}

                <div class = "card my-3">

                    <div class = "card-body coordinate-card">

                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <p class="mb-0"><strong>Punto {{ i + 1 }}</strong></p>
                        </div>

                        <div class="row g-3">

                            <div class="col-md-6">

                                <label for="East_{{ i }}">Este (m)</label>

                                <input type = "number" class = "form-control" id = "East_{{ i }}" name = "East_{{ i }}" step = "any">

                            </div>

                            <div class="col-md-6">

                                <label for = "North_{{ i }}">Norte (m)</label>

                                <input type = "number" class = "form-control" id = "North_{{ i }}" name = "North_{{ i }}" step = "any">

                            </div>

                        </div>

                        <div class="row g-3 mt-1">

                            <div class="col-md-6">

                                <label for="CalculationType_{{ i }}">Tipo de cálculo</label>

                                <select class = "form-select calculation-type" name = "CalculationType_{{ i }}" id="CalculationType_{{ i }}">

                                    <option value="OrthometricHeight">Altura ortométrica</option>
                                    <option value="EllipsoidalHeight">Altura Elipsoidal</option>

                                </select>

                            </div>

                        </div>

                        <div class="row g-3 mt-1">

                            <div class = "col-md-6 ellipsoidal-fields">

                                <label for = "EllipsoidalHeight_{{ i }}">Altura elipsoidal</label>

                                <input type = "number" class="form-control" id = "EllipsoidalHeight_{{ i }}" name = "EllipsoidalHeight_{{ i }}" step = "any">


                            </div>

                            <div class = "col-md-6 orthometric-fields">

                                <label for = "OrthometricHeight_{{ i }}">Altura ortométrica</label>

                                <input type = "number" class = "form-control" id = "OrthometricHeight_{{ i }}" name = "OrthometricHeight_{{ i }}" step = "any">


                            </div>

                        </div>

                    </div>

                </div>

            {% endfor %}

            <div class = "text-center">

                <button class = "btn btn-primary mt-3 px-4" type = "submit" name = "action" value = "calculate">

                    Calcular

                </button>

            </div>


        </form>

            {% if results %}

<div class="mt-5">

     {% if error %}

        <p class = "text-danger text-center mt-3"><strong>

            {{ error }}

        </strong></p>

    {% endif %}

    <h2 class="text-center mb-4">Resultados</h2>

    {% for result in results %}

    <div class="card shadow-sm mb-4">

        <div class="card-header bg-primary text-white">

            <strong>Punto {{ loop.index }}</strong>

        </div>

        <div class="card-body">

            <p>
                <strong>Latitud:</strong>
                {{ "%.6f"|format(result["latitude"]) }}°
            </p>

            <p>
                <strong>Longitud:</strong>
                {{ "%.6f"|format(result["longitude"]) }}°
            </p>

            {% if result["CalculationType"] == "OrthometricHeight" %}

                <p>
                    <strong>Tipo de cálculo:</strong>
                    Altura Ortométrica
                </p>

                <h3 class="fw-bold text-primary">

                    {{ "%.3f"|format(result["orthometric_height"]) }} m

                </h3>

            {% else %}

                <p>
                    <strong>Tipo de cálculo:</strong>
                    Altura Elipsoidal
                </p>

                <h3 class="fw-bold text-success">

                    {{ "%.3f"|format(result["ellipsoidal_height"]) }} m

                </h3>

            {% endif %}



        </div>

    </div>

    {% endfor %}

</div>

{% endif %}

    {% endif %}



<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
<script src = "{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>